<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<string>Accountable Adaptable Adventurous Alert Ambitious Assertive Attentive Authentic Aware Brave Certain Clear Collaborative Committed Communicator Compassion Connection Conscious Consistent Cooperative Creative Curious Dedicated Determined Disciplined Efficient Empathetic Energetic Ethical Excited Expressive Flexible Generosity Gratitude HardWorking Honest Humorous Imaginative Independent Initiates Innovative Intentional Intimate Knowledgeable Listener ManagesTimeWell Networker Open-Minded Organized Patient Planner Practical Proactive Problem-Solver Productive Reliable Resourceful Self-confident Self-generating Self-reliant SenseofHumor Sincere Skillful Spiritual Stable Supportive Tactful Trusting Trustworthy Willing</string>
	<key>responses</key>
	<dict>
		<key>emotional</key>
		<dict>
			<key>bad</key>
			<string>Highway of Emotions</string>
			<key>good</key>
			<string>You&apos;re the Boss</string>
		</dict>
		<key>hobbies</key>
		<dict>
			<key>bad</key>
			<string></string>
			<key>good</key>
			<string></string>
		</dict>
		<key>genuine</key>
		<dict>
			<key>bad</key>
			<string></string>
			<key>good</key>
			<string></string>
		</dict>
		<key>social_support</key>
		<dict>
			<key>bad</key>
			<string></string>
			<key>good</key>
			<string></string>
		</dict>
		<key>physical_health</key>
		<dict>
			<key>bad</key>
			<string></string>
			<key>good</key>
			<string></string>
		</dict>
		<key>contribution</key>
		<dict>
			<key>bad</key>
			<string></string>
			<key>good</key>
			<string></string>
		</dict>
		<key>being_engaged</key>
		<dict>
			<key>bad</key>
			<string></string>
			<key>good</key>
			<string></string>
		</dict>
		<key>job_happiness</key>
		<dict>
			<key>bad</key>
			<string></string>
			<key>good</key>
			<string></string>
		</dict>
		<key>positive_thinking</key>
		<dict>
			<key>bad</key>
			<string></string>
			<key>good</key>
			<string></string>
		</dict>
		<key>productivity_level</key>
		<dict>
			<key>bad</key>
			<string></string>
			<key>good</key>
			<string></string>
		</dict>
	</dict>
	<key>questionsArray</key>
	<array/>
	<key>questions</key>
	<array>
		<dict>
			<key>badResponse</key>
			<string>ShitBalls</string>
			<key>goodResponse</key>
			<string></string>
			<key>question</key>
			<string>Emotional Well Being</string>
		</dict>
		<dict>
			<key>badResponse</key>
			<string>ShitBalls</string>
			<key>goodResponse</key>
			<string></string>
			<key>question</key>
			<string>Hobbies &amp; Interests</string>
		</dict>
		<dict>
			<key>badResponse</key>
			<string>ShitBalls</string>
			<key>goodResponse</key>
			<string></string>
			<key>question</key>
			<string>Genuine, Intimate, and Deep Relationships</string>
		</dict>
		<dict>
			<key>badResponse</key>
			<string>ShitBalls</string>
			<key>goodResponse</key>
			<string></string>
			<key>question</key>
			<string>Social Support &amp; Social Networks</string>
		</dict>
		<dict>
			<key>goodResponse</key>
			<string></string>
			<key>badResponse</key>
			<string>ShitBalls</string>
			<key>question</key>
			<string>Physical Health</string>
		</dict>
		<dict>
			<key>badResponse</key>
			<string>ShitBalls</string>
			<key>goodResponse</key>
			<string></string>
			<key>question</key>
			<string>Contribution &amp; Giving Back</string>
		</dict>
		<dict>
			<key>badResponse</key>
			<string>ShitBalls</string>
			<key>goodResponse</key>
			<string></string>
			<key>question</key>
			<string>Being Engaged at Work &amp; at Play</string>
		</dict>
		<dict>
			<key>badResponse</key>
			<string>ShitBalls</string>
			<key>goodResponse</key>
			<string></string>
			<key>question</key>
			<string>Job Happiness</string>
		</dict>
		<dict>
			<key>badResponse</key>
			<string>ShitBalls</string>
			<key>goodResponse</key>
			<string></string>
			<key>question</key>
			<string>Positive Thinking</string>
		</dict>
		<dict>
			<key>badResponse</key>
			<string>ShitBalls</string>
			<key>goodResponse</key>
			<string></string>
			<key>question</key>
			<string>Productivity Level</string>
		</dict>
	</array>
</dict>
</plist>
